site_name: habemus-papadum-{{ package_name }}
site_description: {{ package_description }}
site_author: {{ author_name }}
repo_url: https://github.com/{{ github_username }}/pdum_{{ package_name }}
repo_name: pdum_{{ package_name }}

theme:
  name: "material"
  palette:
    primary: blue grey


nav:
  - Home: index.md
  - API: reference.md

# If you'd like to specify a separate docs directory, you can do so here
docs_dir: docs

# Plugins to enable
plugins:
  - search
  - mkdocs-jupyter
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: numpy
            show_submodules: true
