"""{{ package_description }}"""

__version__ = "0.1.0"

{% if include_ts_widgets %}
from .widgets import Widget, get_widget_js, get_widget_path, render_widget_html, setup_notebook

__all__ = [
    "__version__",
    "Widget",
    "get_widget_js",
    "get_widget_path",
    "render_widget_html",
    "setup_notebook",
]
{% else %}
__all__ = ["__version__"]
{% endif %}
